<div class="container"
     fxLayout
     fxLayoutAlign="center"
     fxLayoutGap.xs="0">

  <div *ngIf="!isLogged" class="item item-1" fxFlex="90%">
    Map with Italian Restaurants
  </div>

  <div *ngIf="isLogged" class="item item-1" fxFlex="100%">
    Map with Italian Restaurants
  </div>

  <div *ngIf="!isLogged" fxLayout="column" class="item item-2" fxFlex="10%" fxFlexOrder="3" fxLayoutGap="2px">
    <button mat-raised-button fxFlex="50%" class="login" (click)="login()">Log in</button>
    <button mat-raised-button fxFlex="50%" class="signup" (click)="signup()">Sign up</button>
  </div>

</div>

<!-- Here's the DIV that we inject the map into -->
<div class="map">
    <div #mapViewNode></div>
</div>
